/* off-screen-menu */
.off-screen-menu {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}
.off-screen-menu.active {
  right: 0;
}

/* hamburger */
nav {
  padding: 1rem;
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.239); */
}
nav h1 {
  color: rgb(0, 0, 0);
  font-family: "Arial", sans-serif;
  font-size: 50px;
  margin: 0;
  text-align: right;
}
nav h3 {
  color: rgb(0, 0, 0);
  font-family: "Arial", sans-serif;
  font-size: 15px;
  margin: 15;
  text-align: left;
}
.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}
.ham-menu:hover {
  cursor: pointer;
}
.ham-menu span {
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 50%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

footer {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
audio {
  display: none;
}